# OS
.DS_Store

# Env files
.env
.env.*

# Logs
*.log

# Dependencies
node_modules/

# Build output
.next/
dist/
apps/api/dist/
.turbo/
apps/web/tsconfig.tsbuildinfo
storage/
apps/api/storage/
apps/mkdir
apps/nest


# IDE
.vscode/

# Internal specs
.kiro/
.run/
apps/api/src/modules.zip
apps/web/src/app.zip
apps/web/src/app/dashboard.zip
